/* Global */

::selection {
	background: black;
	color: white;
}
div#container {
	margin: auto;
	max-width: 1272px;
}

div#main, div#footer {
	background: white;
	color: black;
	font-family: Roboto, serif;
	font-size: 14px;	
	margin: 40px;
	padding: 26px;
	
	a {
		color: #24798C;
		&:active {
			color: red;
		}
		&:visited {
			color: rgb(85, 26, 139);
		}
	}
	blockquote {
		border-left: 3px solid #ccc;
		color: rgb(106, 106, 106);
		font-style: italic;
		margin-left: 1em;
		padding-left: 1em;
		span {
			display: block;
			margin-left: 2em;
			margin-top: 0.4em;
		}
	}
	h1, h2, h3 {
		color: #134541;
		display: block;
		font-family: Alike, serif;
		font-weight: normal;
	}
	h1 {
		border-bottom: 3px solid #134541;
		font-size: 3em;
		line-height: 1em;
		margin-bottom: 0.3em;
	}
	h2 {
		font-size: 2em;
		line-height: 1.4em;
	}
	blockquote, p, ol, ul {
		line-height: 1.4em;
		margin-bottom: 0.5em;
		img {
			box-sizing: border-box;
			display: block;
			height: auto;
			margin: 1em;
			margin-left: 0;
			margin-right: 0;
			padding: 0.3em;
			width: 100%;
			&.vertical {
				margin-left: auto;
				margin-right: auto;
				width: 75%; // Approximately 4:3 aspect ratios on images
			}
		}
		&.entry-meta {
			color: rgb(106, 106, 106);
		}
		&:first-child {
			img {
				margin-top: 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
			img {
				margin-bottom: 0;
			}
		}
	}
	ol, ul {
		list-style-type: square;
		margin-left: 25px;
		padding-left: 15px;
	}
}

div#footer {
	margin-top: 0;
	span.nav {
		float: right;
	}
}

body.small div#container {
	max-width: 450px !important;
}

.center {
	text-align: center;
}
